<footer id="footer">
<!--Create your footer content / links here. In hugo-zones this shows on every page, no matter what type (single, post, list, etc.)-->
    <hr>
    <p>
        Hugo-Zones - a simple Hugo theme for creating Zonelets-style blogs.
    </p>
</footer>