<head>
    <meta charset="UTF-8"/>
    <meta name="title" content="Corner - Cameron Heard">
    <meta name="description" content="A small site dedicated to sharing my ADHD tool belt and being the repository for my journey of learning out loud.">
    <meta name="keywords" content="Linux, ADHD, Neurodiversity, Network Engineering, Cisco, CCNA, Ham Radio, Mainframe, AIX, Motorola, Public Safety, Government, IT, CISA, CISSP, CISO, Cyber Security, Penetration Testing, Unix, Weather, Radio, Trains, Amateur Radio, Cameron Heard, N0YEP, Winlink, FT8, FLDigi, packet radio, woodworking, antennas, science, engineering, technology, indieweb, smolweb, small web, ">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="2 days">
    <meta name="author" content="Cameron Heard">
    <title>{{.Site.Title}}</title> 

    {{$cssFile := $.Param "cssTheme"}} 
    {{$cssUrl := print "/css/zonelets/" $cssFile}} 
    <link rel="stylesheet" type="text/css" href={{$cssUrl}} /> 
    <link rel="stylesheet" type="text/css" href="/css/hugo-zones.css"/>
</head>
