<header id="header">
<!--Create your header content / links here. In hugo-zones, this shows on every page, no matter what type (single, post, list, etc.)-->
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/archive">Archive</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/index.xml">RSS</a></li>
    </ul>
<hr>
</header>