<div id="postlistdiv">
    <!-- For each of the newest n pages, get the link, and display the date and title-->
    <ul>
    {{ range ( where .Site.RegularPages "Type" "posts" | first (index .Params 0) ) }}
    <li><a href="{{ .Permalink }}">{{ .PublishDate.Format "2006-01-02" }} » {{ .Title }}</a></li>
    {{end}}
    <!-- Add link to more posts (archive)-->
    <li class="moreposts"> <a href="/archive">» more posts</a></li>
    </ul>  
</div>