{{ define "main" }}

<!--this single.html is used for any index.md in content/posts. 
    This file has an additional navbar that the normal single.html page doesn't.

    How does Hugo know when to use this single.html instead of the default one? 
    Hugo looks at the directory in the theme layouts folder and tries to match it to the directory in /content/
    When the directories match, Hugo will overwrite the _default/single.html file
    In this case, /content/posts matches to /themes/hugo-zones/layouts/posts-->
    
    <!--Title and date from markdown file-->
    <h1>{{ .Title }}</h1>
    <h4>{{ .PublishDate.Format "2 Jan 2006" }}</h4>

    <!--Content from markdown file-->
    {{ .Content }} 

    <!--Replicating Zoner's navbar using Hugo-->
    <nav id="nextprev">
        {{ with .NextInSection }}<a href="{{ .Permalink }}">« Next Post</a>{{ end }} | <!--Next post-->
        <a href="/">Home</a> | <!--Home-->
        {{ with .PrevInSection }}  <a href="{{ .Permalink }}">Previous Post »</a>{{ end }} <!--Previous post-->
    </nav>
{{ end }}