<!DOCTYPE html>
<!-- all other layouts build from here by default-->
<html>
    {{- partial "head.html" . -}}
    <body>
        <div id="container">
            {{- partial "header.html" . -}}
            <article id="content">
            {{- block "main" . }}{{- end }}
            </article>
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
