{{ define "main" }}
<!-- list.html is used for _index.md files in the content directory. The underscore is what tells Hugo to use the list.html template
    (the site root _index.md is an exception; that uses index.html)-->
<p> 
    <div id="postlistdiv">
        <h1>{{ .Title }}</h1> <!-- Title from markdwon file-->
        {{ .Content }} <!--Content from markdown file-->
        <!--Build a list of all children posts, sorted by date, newest-oldest-->
        <ul>
            {{ range .Pages.ByPublishDate.Reverse }}
            <li><a href="{{ .RelPermalink }}">{{ .PublishDate.Format "2006-01-02" }} » {{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>
</p>
{{ end }}